@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Bree+Serif&family=Edu+TAS+Beginner&family=Source+Code+Pro:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 80vw;
    
}
.navbar{
    display: flex;
    height: 67px;
    font-family: 'Balsamiq Sans', cursive;
}
.navbar li{
    list-style: none;
    margin: 0 12px;
}
.topleft{
    width: 50%;
    
}
.topright{
    width: 50%;
    height: 50vh;
  
}
.topright img{
    margin-left: 200px;
    width: 360px;
    height: 70vh;
}
.section1{
   max-height: 100vh;
}
.section1 h1{
    font-size: 2rem;
 }
.logo{
    font-size: 1.3rem;
}
.topleft img{
    width: 101px;
    margin-left: 171px;
}
.dumbelimg{
    margin-right: 186px;
    width: 226px;
    height: 90px;
    margin-top: 160px;
}
.section2 {
 padding-left: 63px;
 padding-right: 63px;
}
.section2 h1{
    font-size: 2.5rem;
}
.section2 p{
    padding: 0 8vw;
    text-align: center;
}
.box{
    margin: 12px 22px;
    min-width: 20vw;
    border: 2px solid rgb(97, 161, 250);
    text-align: center;
    padding: 8px 0;
    border-radius: 8px;
}
.box h2{
    font-size: 2rem;
    padding: 15px 0;
}
.highleted{
    font-size: 1.2rem;
    font-weight: bolder;
}
.box ul{
    list-style: none;
}
.box ul li{
    margin: 12px 2px;
}
.plantable{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section3 table{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 140px;
    border-collapse: collapse;
}
.section3 table th{
   width: 23vw;
   border-bottom: 2px solid black;
   padding: 15px 0;
}
.section3 table td{
    border-bottom: 2px solid black;
}
.section3 table th{
    border-bottom: 2px solid black;
}
.section3 h1{
    font-size: 2.3rem;
}
.section3{
 padding: 73px;
 margin-top: -67px;
}
.section2{
    padding: 62px;
}
footer{
    padding: 23px;
    text-align: center;
}
.topleft .buttons{
    margin-left: 155px;
}
.container{
   
        justify-content: center;
        margin-left: 116px;
    
}